form {
    background-color: #98d1d7;
    padding: 10px 30px;
    padding-bottom: 10px;
    border-radius: 20px;
    justify-content: center;
    display: flex;
}


h2 {
    color: rgb(154, 154, 154);
    text-align: center;
}