.footer {
  background-color: #5A6F98;
  height: 20vh;
  display: flex;
  padding: 10px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reseau-social {
  text-align: left;
}

.reseau-social img {
  padding: 0;
  margin-left: 2vw;
  width: 3vw;
}

.footer-content {
  display: flex;
  align-items: center;
}

.reseau-social a {
  margin-right: 10px;
}

.copyright {
  text-align: right;
  margin-right: 20vw;
}

.copyright p {
 margin-left: 20vw;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  width: 20vw;
}

.footer-link a{
  text-decoration: none;
  color: white;
}