.body {
    margin-top: 5vh;

}
.homeSpace {
    margin-left: 50px;
    text-justify: distribute;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 40px;
    color: rgb(40, 18, 18);
}