img {
   width: 12vw;
   padding-top: 3vh;
   padding-left: 3vw;

 }
 .navdiv {
    display: flex;
    justify-content: space-between;
    background-color: #98d1d7;
    height: 15vh;
 }
 .navdiv ul {
    width: 65vw;
    display: flex;
    padding: 0;
    padding-top: 2vh;
    justify-content: space-around   ;
    list-style-type: none;
    
 }
 .active {
    color: #ffffff !important;
    background-color: #BD5B21 !important;
 }
 .navdiv ul li a{
  background-color: #F79256;
  display: flex;
  justify-content: center;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  filter: drop-shadow(#6f6c6c 0.1rem 0.1rem 5px);
 }
 .navbar-link {
    text-decoration: none;
    color: #ffffff;
 }

 .navbar-link .image-profil {
   width: 24px;
   height: 24px; 
   margin-right: 50%;
   margin-top: -22%;
   
 }