 img{
   width: 12vw;
   padding-top: 3vh;
   padding-left: 3vw;

 }
 .navdiv {
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    background-color: #98d1d7;
=======
    background-color: #98D1D7;
>>>>>>> 3e9cb74ac0eae43902bbd73b0bb785ea69ec48c2
    height: 15vh;
 }
 .navdiv ul {
    width: 45vw;
    display: flex;
    padding: 0;
    padding-top: 2vh;
    justify-content: space-around   ;
    list-style-type: none;
    
 }
 .active {
   background-color: #D1D5DE !important ;
   color: #2D232E !important;
 }
 .navdiv ul li a{
  background-color: #F79256;
  display: flex;
  justify-content: center;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #D1D5DE;
  border-radius: 15px;
 }
 .navbar-link {
    text-decoration: none;
    color: #D1D5DE;
 }
 